.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            |&nbsp;Continue with Github
    button.social-login--facebook
        a(href=routes.naver)
            span
                i.fab.fa-neos
            |&nbsp;Continue with Naver